{% extends 'layout.html' %}
{% block title %}About{% endblock %}
{% block header %}
<section class="header">
    <h1>Graham Morby</h1>
    <p>Senior Developer</p>
    <!--I would suggest choosing a different picture here.-->
    <!--Like maybe a hobby photo-->
    <img src="/static/img/jump.png" alt="Graham morby headshot">
</section>
{% endblock %}

{% block content %}
<section id="about-page">
    <div id="triangle7"></div>
    <div id="triangle8"></div>
    <h2>A little about me</h2>
    <p>
        I have been a developer now for 17 years, I have worked on personal projects way back on my Amiga 1200
        right up to now as a full-stack Vue.js, Python developer. I have a huge passion for web development and
        learning all I can to progress in my career. I have keen insights into crypto-currency
        and also in my spare time, I’m a musician, love sports and walking my dogs.
    </p>
    <p>
        I have worked in many sectors and with many frameworks. I have been working with
        Javascript, HTML and css for more than 15 years commercially and with PHP for 7. Recently I took
        up the challenge to learn Python, which is a huge plus to my skill set. This site is breed from that learning
        and my love of programming. I am a passionate advocate for furthering our horizons and Tech as we more forward.
    </p>
    <a href="#"><i class="far fa-file"></i>Resume</a>
</section>
 {% endblock %}