{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block header %}
<section class="header">
    <h1>Python Developer</h1>
    <p>Coding like Spock is Functional and Logical<br> Live long and prosper my friends. <i class="fas fa-hand-spock"></i></p>
    <img src="/static/img/hands.png" alt="Headshot of myself">
</section>
{% endblock %}

{% block content %}
<section id="about">
    <h2>About Me</h2>
    <p>
        I have been a developer now for 17 years, I have worked on personal projects way back on my Amiga 1200
        right up to now as a full-stack Vue.js, Python developer. I have a huge passion for web development and
        learning all I can to progress in my career. I have keen insights into crypto-currency
        and also in my spare time, I’m a musician, love sports and walking my dogs.
    </p>
    <div id="triangle1"></div>
    <div id="triangle2"></div>
</section>
<section id="skills">
    <i class="fas fa-laptop-code"></i>
    <h2>Skills</h2>
    <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>SQLAlchemy</li>
        <li>GitHub</li>
        <li>Visual Studio Code</li>
        <li>PyCharm</li>
        <li>Javascript</li>
        <li>Agile development</li>
        <li>PHP</li>
        <li>Vue.js</li>
    </ul>
</section>
<section id="projects">
    <div id="triangle3"></div>
    <i class="fas fa-file-code"></i>
    <h2>Projects</h2>
    <div id="project-list">
        {% for project in projects %}
        <div id="project1" class="a-project">
            <h3>{{project.title}}</h3>
            <a href="{{project.link}}" class="github-btn" target="_blank">
                <i class="fab fa-github"></i>
                View on GitHub
            </a>
            <p>
                {{ project.description }}
            </p>
            <p>
                Skills: {{project.skills}}
            </p>
        </div>
        {% endfor %}
    </div>
    <div id="triangle4"></div>
</section>
<section id="contact">
    <i class="fas fa-paper-plane"></i>
    <h2>Contact Me</h2>
    <p>
        If you wish to reach out please use the email below. I'm always happy to chat
        to fellow developers and discuss all things development and tech.
    </p>
    <p><i>Computers Make Excellent & Efficient Servants, But I Have No Desire To Serve Under Them. - Spock</i></p>
    <p>
        <i class="fas fa-envelope"></i>
        grahammorbydev@gmail.com
    </p>
</section>
{% endblock %}